html,
body,
#storybook-root {
  background: var(--cynosure-color-background-canvas);
  color: var(--cynosure-color-foreground-default);
  font-family: var(--cynosure-font-family-sans);
}

.sb-canvas {
  min-height: 100%;
  color: var(--cynosure-color-foreground-default);
}

.sbdocs.sbdocs-preview,
.docs-story {
  background: var(--cynosure-color-background-canvas) !important;
}
